@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


html{
    scroll-behavior: smooth;
}
#inicio{
    background:linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../assets/computadora.jpg;");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}