@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f5f5f5;
    text-align: center;
    padding-top: 20px;
}

.titulo-superior {
    color: #cfcfcf;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 400;
}

/* ---------- TARJETA ---------- */

.login-container {
    width: 330px;
    margin: auto;
    background: url("fondo-purple.png");
    background-size: cover;
    background-position: center;
    padding: 30px 25px;
    border-radius: 15px;
    color: white;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 60px;
    display: block;
    margin: 0 auto 10px auto;
}

.login-container h2 {
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 500;
}

/* ---------- INPUTS ---------- */

.input-box {
    position: relative;
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.input-box i {
    font-size: 18px;
    margin-right: 10px;
    color: white;
}

.input-box input {
    border: none;
    background: transparent;
    width: 100%;
    color: white;
    font-size: 14px;
    outline: none;
}

.input-box input::placeholder {
    color: #f7eaff;
}

/* ---------- REGISTRAR ---------- */

.registrate {
    display: block;
    margin-top: 10px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s;
}

.registrate:hover {
    text-decoration: underline;
}
