* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 20% 60%, #00f4d0, transparent),
                radial-gradient(circle at 80% 20%, #ff4cd8, transparent),
                #29004b;
    filter: blur(20px);
    z-index: -1;
}

/* Tarjeta blanca */
.card {
    width: 350px;
    background: white;
    padding: 30px;
    border-radius: 30px;
    text-align: center;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    color: #333;
    font-size: 14px;
    margin-bottom: 20px;
}

.btn {
    width: 80%;
    padding: 12px;
    margin: 10px auto;
    border: none;
    border-radius: 25px;
    background: black;
    color: white;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: 0.2s;
}

.btn img {
    width: 18px;
}

.btn:hover {
    transform: scale(1.05);
}

.politica {
    font-size: 11px;
    margin-top: 15px;
    color: #444;
}

.politica span {
    color: red;
}
