@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: radial-gradient(circle at 30% 30%, #00d2ff, #3a0ca3, #7209b7, #240046);
    background-size: 200% 200%;
    animation: gradientShift 10s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: white;
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    padding: 40px 60px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    position: relative; 
    top: -20px;/
}

.brand {
    font-size: 1.2em;
    font-weight: 600;
    color: #b3e5fc;
    

}

main h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2.2em;
    margin-bottom: 10px;
}

main h2 {
    font-size: 1.4em;
    margin-bottom: 25px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.option {
    background: black;
    border: none;
    padding: 12px 170px;
    border-radius: 10px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s;
}

.option:hover {
    background: #673ab7;
    transform: scale(1.05);
}

.option i {
    margin-right: 8px;
}

.cookies {
    font-size: 0.7em;
    color: #ccc;
    margin-top: 25px;
    max-width: 300px;
    line-height: 1.2em;
}
p .cookies{
justify-items: center;
margin-top: 25px;
max-width: 300px;
}
 img{
    width: 100px ;
 }
 
